<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header></header>
<div class="blog">
    <div class="container">
        <h3>Percentile</h3>
        <p th:text="${percentile}"></p>
        <h1>Massage</h1>
        <table>
            <thead>
            <th>User ID</th>
            <th>Massage</th>
            <th>Delete</th>
            </thead>
            <tr th:each="massage: ${list}">
                <td th:text="${massage.getUserId}"></td>
                <td th:text="${massage.massage}"></td>
                <td><a th:href="@{/delete/{id}(id=${massage.getId})}">delete</a></td>
            </tr>
        </table>
        <form th:action="@{/new}" method="get">
            <button class="btn1 button" type="submit" method="get" >New massage</button>
        </form>
    </div>
</div>
</body>
</html>