<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header></header>
<div class="blog">
    <div class="container">
        <h1>Users</h1>
        <table>
            <thead>
            <th>ID</th>
            <th>Login</th>
            <th>Incorporation Date</th>
            <th>Email</th>
            <th>Count massage</th>
            </thead>
            <tr th:each="user: ${list}">
                <td th:text="${user.getId}"></td>
                <td th:text="${user.getLogin}"></td>
                <td th:text="${user.getIncorporationDate}"></td>
                <td th:text="${user.getEmail}"></td>
                <td th:text="${user.getCountMassage}"></td>
                <td><a th:href="@{/users/{id}(id=${user.getId})}">Edit</a></td>
            </tr>
        </table>
        <form th:action="@{/users/new}" method="get">
            <button type="submit" method="get" >Add</button>
        </form>
    </div>
</div>
</body>
</html>